In [1]:
from ipstartup import *
from mapboxer.elections import get

[root:32:INFO]:logging started from c:\users\simon\onedrive\documents\py\live\utils\defaultlog.py (time=Aug-12 20:46 MainProcess)

# get data

In [5]:
allres = []
for year in range(2010, 2016):
    allres.append(get.res_local(year))
allres = pd.concat(allres)
allres.head()

[cellevents:43:INFO]:starting (time=Aug-12 20:46 MainProcess)

  authority    wardname  year party  votes
0      Adur  Buckingham  2010     C   1301
1      Adur  Buckingham  2010    LD    828
2      Adur  Buckingham  2010  UKIP    197
3      Adur   Churchill  2010     C    885
4      Adur   Churchill  2010    LD    762

time: 551 ms

# tables

In [6]:
df = allres.copy()
df.loc[~df.party.isin(["C", "LD", "UKIP", "Lab", "Grn"]), "party"] = "other"
cands = pd.crosstab(df.party, df.year, df.wardname, aggfunc="count")
cands["total"] = cands.sum(axis=1)
d("candidates")
cands.style.format("{:,}")

[cellevents:43:INFO]:starting (time=Aug-12 20:46 MainProcess)

'candidates'

time: 195 ms

In [7]:
missing = cands.max(axis=0)-cands
d("missing candidates")
missing.style.format("{:,}")

[cellevents:43:INFO]:starting (time=Aug-12 20:46 MainProcess)
[numexpr.utils:141:INFO]:NumExpr defaulting to 8 threads. (time=Aug-12 20:46 MainProcess)

'missing candidates'

time: 44 ms

In [8]:
d("missing candidates%")
(missing/cands.max(axis=0)).style.format("{:.0%}")

[cellevents:43:INFO]:starting (time=Aug-12 20:47 MainProcess)

'missing candidates%'

time: 17 ms

In [9]:
votes = pd.crosstab(df.party, df.year, df.votes, aggfunc="sum")
votes["total"] = votes.sum(axis=1)
d("vote share")
(votes/votes.sum(axis=0)).style.format("{:.0%}")

[cellevents:43:INFO]:starting (time=Aug-12 20:47 MainProcess)

'vote share'

time: 53 ms

In [10]:
d("votes/candidate")
(votes/cands).style.format("{:,.0f}")

[cellevents:43:INFO]:starting (time=Aug-12 20:47 MainProcess)

'votes/candidate'

time: 10 ms

In [14]:
df[(df.year==2010) & (df.party=="LD")]

[cellevents:43:INFO]:starting (time=Aug-12 20:51 MainProcess)

         authority                  wardname  year party  votes
1             Adur                Buckingham  2010    LD    828
4             Adur                 Churchill  2010    LD    762
8             Adur                   Cokeham  2010    LD    594
12            Adur                 Eastbrook  2010    LD    711
18            Adur                  Hillside  2010    LD    667
...            ...                       ...   ...   ...    ...
15981  Wyre Forest                   Franche  2010    LD    446
15990  Wyre Forest  Habberley and Blakebrook  2010    LD    458
16004  Wyre Forest  Oldington and Foley Park  2010    LD    378
16007  Wyre Forest               Sutton Park  2010    LD    612
16014  Wyre Forest               Wribbenhall  2010    LD    365

[3494 rows x 5 columns]

time: 29 ms

In [13]:
df[(df.year==2015) & (df.party=="LD")] # 4300

[cellevents:43:INFO]:starting (time=Aug-12 20:50 MainProcess)

       authority      wardname  year party  votes
26     Allerdale  Christchurch  2015    LD    193
32     Allerdale        Dalton  2015    LD    226
60     Allerdale    Harrington  2015    LD    176
69     Allerdale       Keswick  2015    LD    661
92     Allerdale      St Johns  2015    LD    425
...          ...           ...   ...   ...    ...
30564       York     Strensall  2015    LD    775
30569       York     Westfield  2015    LD   2866
30570       York     Westfield  2015    LD   2369
30571       York     Westfield  2015    LD   2106
30584       York     Wheldrake  2015    LD    281

[4300 rows x 5 columns]

time: 26 ms

# ratio

In [ ]:
# ratio by year
df = allres.copy()
df = pd.crosstab(
    [df.authority, df.wardname, df.year], df.party, df.votes, aggfunc="sum"
).reset_index()
df.columns.name = ""
df = df.fillna(0)
df["ratio"] = df.LD / df.drop(["LD", "year"], axis=1).max(axis=1)
df.ratio = df.ratio * 100

In [ ]:
# by year
byyear = pd.crosstab([df.authority, df.wardname], df.year, df.ratio, aggfunc="first").reset_index()
byyear[byyear.authority=="Stratford-on-Avon"]